<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Service>
        <Connector port="8080"/>
        <Engine>
            <Host name="localhost" appBase="C:\Users\wanghc\~~~\minicat\webapps">
                <Context name="/demo1" path="webapp1/demo"/>
                <Context name="/demo2" path="webapp2/demo"/>
            </Host>
        </Engine>
    </Service>
</Server>
