<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>

    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <insert id="insert" parameterType="com.lagou.pojo.User">
        insert into user(id,username)
        values(#{id}, #{username})
    </insert>

    <update id="update" parameterType="com.lagou.pojo.User" >
        update user set id=#{id}, username=#{username} where id=#{id}
    </update>

    <delete id="delete" parameterType="com.lagou.pojo.User">
        delete from user where id=#{id}
    </delete>

</mapper>
